# copy this file into Makefile.local to customize /override the default setting

#shell         := /bin/sh
#HG            := hg

#define the path of your OpenTTD AI folder

#INSTALL_DIR   :=$(HOME)/.openttd/ai
#INSTALL_DIR   :="$(ALLUSERSPROFILE)\Documents\OpenTTD\ai"
#INSTALL_DIR   :="C:\Games\OpenTTD\ai"
